.tdp-activity-search {
    .m-hero {
        background-color: transparent;
    }

    .m-hero_wrapper {
        margin: 0 -15px;
        padding-top: 0;
    }

    .m-hero_image-wrapper {
        display: none;

        .respond-to-min(@bp-sm-min, {
            display: inline-block;
            margin-top: 0;
        });
    }

    .content_sidebar {
        display: inline-block;
        padding: 45px 15px 0;
        border: 1px solid #b4b5b6;
        background-color: #f7f8f9;

        .o-expandable {
            padding-bottom: 15px;
            border-bottom: 1px solid #b4b5b6;
            margin-bottom: 15px;
        }

        .o-expandable_target,
        .o-expandable_content {
            border: 0;
            padding: 0;

            &::before,
            &::after {
                border: 0;
                padding: 0;
            }
        }

        .filter-section {
            border-top: 1px solid #b4b5b6;
            padding-top: 15px;

            .o-expandable:last-child {
                border: 0;
            }
        }

        .o-form_group {
            margin-bottom: 0;
        }
    }

    .content_main {
        border: 0;
        border-top: 1px solid #b4b5b6;
        padding-top: 0;

        &::after {
            border: 0;
        }
    }
}
