.tdp-activity-search {
    .m-hero {
        background-color: transparent;
    }

    .m-hero_image-wrapper {
        display: none;

        .respond-to-min(@bp-sm-min, {
            display: inline-block;
            margin-top: 0;
        });
    }

    .o-form__input-w-btn {
        margin-left: 0;
    }

    .o-form__input-w-btn_input-container,
    .o-form__input-w-btn_btn-container {
        border-left: 0;
        margin-bottom: 0;
    }

    .o-form__input-w-btn_btn-container .a-btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .content_main {
        border-top: 1px solid #b4b5b6;
    }

    .content_sidebar {
        display: inline-block;
        padding: 45px 15px;
        border: 1px solid #b4b5b6;
        background-color: #f7f8f9;
    }
}
