{% extends 'crt-base.html' %}

{% block content_main scoped %}
    <div class="block block__flush-top">
        <h1>Curriculum Review</h1>
        <p>Middle School Example Curriculum</p>
        <p>Start the review by selecting a dimension. You do not need to complete all dimensions in one sitting. You’ll be able to download a dimension report for each dimension as well as a summary report at the end.</p>
        <p>
            <a href="#">
                Content<br>
                Covers core knowledge and skills in content standards<br>
                6 criteria<br>
                Est. time 30 min.
            </a>
        </p>
        <p>
            <a href="#">
                Utility<br>
                Supports effective teaching<br>
                7 criteria<br>
                Est. time 30 min.
            </a>
        </p>
        <p>
            <a href="#">
                Quality<br>
                Accurate and well presented<br>
                5 criteria<br>
                Est. time 30 min.
            </a>
        </p>
        <p>
            <a href="#">
                Efficacy<br>
                Improves financial knowledge, skills, or behaviors<br>
                3 criteria<br>
                Est. time 30 min.
            </a>
        </p>
    </div>
    <div class="block
                block__flush-top
                block__flush-bottom">
        <h2 class="h1">{# {% include icons/document-round.svg %} #}Content</h2>
        <div class="lead-paragraph
                    u-mb30">
            <p>This dimension assesses whether the curriculum content helps students develop knowledge, skills, and behaviors that are important for financial capability. Evaluation criteria are based on research and major national and state education standards.</p>
        </div>
        <h3 class="h2">Instructions</h3>
        <ul>
            <li>Read through the scope and sequence of the curriculum.</li>
            <li>Skim the lesson plans.</li>
            <li>Select <strong><em>yes</em></strong> for the components that are addressed, and <strong><em>no</em></strong> for those that are not.</li>
        </ul>
        <div class="m-notification
                    m-notification__visible
                    u-mb30
                    u-mt30
                    u-mw670">
            <div class="m-notification_content">
                <div class="m-notification_message">
                    <div class="m-notification_message">
                        <h4>This dimension has <em>essential</em> and <em>beneficial</em> components.</h4>
                        <p><strong><em>Essential components</em></strong> have been shown to positively impact student learning.<br><strong><em>Beneficial components</em></strong> hold promise for positive impact on student learning, but may be more relevant and useful for some reviewers. Beneficial components are marked with a note; all others are essential. You must answer all components.</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr
                    u-mb30
                    u-mt30">
    </div>
    <div class="block block__flush-top">
        <h3 class="h2">{# {% include icons/approved-round.svg %} #}Criterion 1: Completed criterion <span class="u-fc-gray">(complete)</span></h3>
        <div class="lead-paragraph
                    u-mb45">
            <p>Does the curriculum address grade-level appropriate topics for saving and investing?</p>
        </div>
        <div class="o-survey">
            <div class="o-survey_number">
                <div class="h3">1.1</div>
            </div>
            <div class="o-survey_indicator">
                <div class="h3">Indicator</div>
                <p>People save for the future, and might have different goals for saving and make different choices about how to save.</p>
            </div>
            <div class="o-survey_components">
                <div class="h3">Component</div>
                <div class="o-survey_component">
                    <div class="o-survey_question">
                        <p>One can save money in various ways, incl home in a piggy bank or at a commercial union, or savings and loan institution.</p>
                    </div>
                    <div class="o-survey_answer">
                        <div class="m-form-field
                                    m-form-field__radio
                                    m-form-field__lg-target">
                            <input class="a-radio" id="crt-question_1a" type="radio" name="crt-question-1" value="1">
                            <label class="a-label" for="crt-question_1a">
                                Yes
                            </label>
                        </div>
                        <div class="m-form-field
                                    m-form-field__radio
                                    m-form-field__lg-target">
                            <input class="a-radio" id="crt-question_1b" type="radio" name="crt-question-1" value="0">
                            <label class="a-label" for="crt-question_1b">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="o-survey_component">
                    <div class="o-survey_question">
                        <p>Saving helps individuals act on future opportunities, meet short-term and long-term goals, and address financial emergencies.</p>
                        <p class="o-survey_question-helper"><small><em>Beneficial, but not essential.</em></small></p>
                    </div>
                    <div class="o-survey_answer">
                        <div class="m-form-field
                                    m-form-field__radio
                                    m-form-field__lg-target">
                            <input class="a-radio" id="crt-question_2a" type="radio" name="crt-question-2" value="1">
                            <label class="a-label" for="crt-question_2a">
                                Yes
                            </label>
                        </div>
                        <div class="m-form-field
                                    m-form-field__radio
                                    m-form-field__lg-target">
                            <input class="a-radio" id="crt-question_2b" type="radio" name="crt-question-2" value="0">
                            <label class="a-label" for="crt-question_2b">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="o-survey">
            <div class="o-survey_number">
                <div class="h3">1.2</div>
            </div>
            <div class="o-survey_indicator">
                <div class="h3">Indicator</div>
                <p>Compound interest affects the value of savings.</p>
            </div>
            <div class="o-survey_components">
                <div class="h3">Component</div>
                <div class="o-survey_component">
                    <div class="o-survey_question">
                        <p>Saving money in a bank or credit union allows the money to earn interest.</p>
                    </div>
                    <div class="o-survey_answer">
                        <div class="m-form-field
                                    m-form-field__radio
                                    m-form-field__lg-target">
                            <input class="a-radio" id="crt-question_3a" type="radio" name="crt-question-3" value="1">
                            <label class="a-label" for="crt-question_3a">
                                Yes
                            </label>
                        </div>
                        <div class="m-form-field
                                    m-form-field__radio
                                    m-form-field__lg-target">
                            <input class="a-radio" id="crt-question_3b" type="radio" name="crt-question-3" value="0">
                            <label class="a-label" for="crt-question_3b">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="o-survey">
            <div class="o-survey_number">
                <div class="h3">1.3</div>
            </div>
            <div class="o-survey_indicator">
                <div class="h3">Indicator</div>
                <p>Investments involve purchase of financial assets to increase wealth.</p>
            </div>
            <div class="o-survey_components">
                <div class="h3">Component</div>
                <div class="o-survey_component">
                    <div class="o-survey_question">
                        <p>The goal of savings is to set aside income for future spending, whereas the goal of investing is to increase wealth over time.</p>
                    </div>
                    <div class="o-survey_answer">
                        <div class="m-form-field
                                    m-form-field__radio
                                    m-form-field__lg-target">
                            <input class="a-radio" id="crt-question_4a" type="radio" name="crt-question-4" value="1">
                            <label class="a-label" for="crt-question_4a">
                                Yes
                            </label>
                        </div>
                        <div class="m-form-field
                                    m-form-field__radio
                                    m-form-field__lg-target">
                            <input class="a-radio" id="crt-question_4b" type="radio" name="crt-question-4" value="0">
                            <label class="a-label" for="crt-question_4b">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-form-field m-form-field__textarea">
            <label class="a-label a-label__heading" for="crt-notes-1">
                My notes <small class="a-label_helper">(optional)</small>
            </label>
            <p class="u-mb15"><small>Anything you want to note about this criterion? Please do not share any Personally Identifiable Information (PII), including, but not limited to, your name, address, pho number, email address, Social Security number, etc.</small></p>
            <textarea class="a-text-input
                            a-text-input__full
                            u-mw670"
                        id="crt-notes-1"
                        rows="6"></textarea>
        </div>
    </div>
    <div class="block block__flush-top">
        <h3 class="h2">Criterion 2: In progress criterion</h3>
        <div class="lead-paragraph
                    u-mb45">
            <p>Does the curriculum address grade-level appropriate topics for earning, income, and careers?</p>
        </div>
        <div class="o-survey">
            <div class="o-survey_number">
                <div class="h3">2.1</div>
            </div>
            <div class="o-survey_indicator">
                <div class="h3">Indicator</div>
                <p>Sources of income include wages, salaries, and benefits, as well as interest, rent, and profits.</p>
            </div>
            <div class="o-survey_components">
                <div class="h3">Component</div>
                <div class="o-survey_component">
                    <div class="o-survey_question">
                        <p>Income is money earned from employment and investments.</p>
                    </div>
                    <div class="o-survey_answer">
                        <div class="m-form-field
                                    m-form-field__radio
                                    m-form-field__lg-target">
                            <input class="a-radio" id="crt-question_5a" type="radio" name="crt-question-5" value="1">
                            <label class="a-label" for="crt-question_5a">
                                Yes
                            </label>
                        </div>
                        <div class="m-form-field
                                    m-form-field__radio
                                    m-form-field__lg-target">
                            <input class="a-radio" id="crt-question_5b" type="radio" name="crt-question-5" value="0">
                            <label class="a-label" for="crt-question_5b">
                                No
                            </label>
                        </div>
                        <div class="m-form-field
                                    m-form-field__radio
                                    m-form-field__lg-target">
                            <input class="a-radio" id="crt-question_5c" type="radio" name="crt-question-5" value="0">
                            <label class="a-label" for="crt-question_5c">
                                N/A
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="o-survey">
            <div class="o-survey_number">
                <div class="h3">2.2</div>
            </div>
            <div class="o-survey_indicator">
                <div class="h3">Indicator</div>
                <p>People can change their income by acquiring more education, work experience, and skills.</p>
            </div>
            <div class="o-survey_components">
                <div class="h3">Component</div>
                <div class="o-survey_component">
                    <div class="o-survey_question">
                        <p>Various jobs and careers provide different levels of income and require different kinds of skills.</p>
                    </div>
                    <div class="o-survey_answer">
                        <div class="m-form-field
                                    m-form-field__radio
                                    m-form-field__lg-target">
                            <input class="a-radio" id="crt-question_6a" type="radio" name="crt-question-6" value="1">
                            <label class="a-label" for="crt-question_6a">
                                Yes
                            </label>
                        </div>
                        <div class="m-form-field
                                    m-form-field__radio
                                    m-form-field__lg-target">
                            <input class="a-radio" id="crt-question_6b" type="radio" name="crt-question-6" value="0">
                            <label class="a-label" for="crt-question_6b">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-form-field m-form-field__textarea">
            <label class="a-label a-label__heading" for="crt-notes-2">
                My notes <small class="a-label_helper">(optional)</small>
            </label>
            <p class="u-mb15"><small>Anything you want to note about this criterion? Please do not share any Personally Identifiable Information (PII), including, but not limited to, your name, address, pho number, email address, Social Security number, etc.</small></p>
            <textarea class="a-text-input
                            a-text-input__full
                            u-mw670"
                        id="crt-notes-2"
                        rows="6"></textarea>
        </div>
    </div>
    <div class="block block__flush-top">
        <h3 class="h2">
            <button class="a-btn
                            a-btn__heading">
                {# {% include icons/plus-round.svg %} #}Criterion 3: Unopened criterion
            </button>
        </h3>
    </div>
    <div class="block
                block__flush-bottom
                block__padded-top
                block__border-top">
        <div class="m-btn-group
                    m-btn-group__wide">
            <button class="a-btn">
                Continue to summary
            </button>
            <button class="a-btn
                            a-btn__link">
                Start over with a new review
        </button>
        </div>
    </div>
{% endblock content_main %}
