{% extends 'crt-base.html' %}

{% block header %}
    <header class="o-header u-hide-on-print" role="banner">
        <div class="m-global-eyebrow m-global-eyebrow__horizontal">
            <div class="wrapper wrapper__match-content">
                <div class="m-global-eyebrow_tagline">
                    An official website of the
                    <span class="m-global-eyebrow_tagline-usa">United States Government</span>
                </div>
                &nbsp;
            </div>
        </div>
        <div class="o-header_content">
            <div class="wrapper wrapper__match-content">
                <a class="o-header_logo" href="/">
                    <img class="o-header_logo-img" src="/static/img/logo_237x50.png" srcset="/static/img/logo_161x34.png 161w,
                                /static/img/logo_161x34%402x.png 322w,
                                /static/img/logo_161x34%403x.png 483w,
                                /static/img/logo_161x34%404x.png 644w,
                                /static/img/logo_237x50.png 237w,
                                /static/img/logo_237x50%402x.png 474w" sizes="(max-width: 900px) 161px,
                                237px" alt="Consumer Financial Protection Bureau">
                </a>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content_main scoped %}
    <div class="block
                block__flush-top
                block__padded-bottom
                block__border-bottom
                u-hide-on-print">
        <h2 class="h1">Print or save</h2>
        <ol class="h2">
            <li>Print this summary or save as a PDF.</li>
            <li>When you’re finished, close this window and return to the review.</li>
        </ol>
        <div class="h3">To save as a PDF:</div>
        <p><strong>Windows users:</strong></p>
        <ul>
            <li>Open the print menu by pressing Ctrl+P.</li>
            <li>Under the "Printer" drop-down menu, select "Microsoft Print to PDF" or "Save as PDF." (The exact wording may vary by browser.)</li>
            <li>Click "Print."</li>
            <li>When prompted, choose where you want to save the file.</li>
            <li>If you're on an older version of Windows that does not have the built-in Microsoft Print to PDF printer, the Google Chrome browser provides its own "Save as PDF" option.</li>
        </ul>
        <p><strong>Mac users:</strong></p>
        <ul>
            <li>Open the print menu by pressing Command+P.</li>
            <li>From the PDF drop-down menu (in the lower-left corner), choose "Save as PDF." (In Chrome you may be able to skip this step and select “Open PDF in Preview.”)</li>
            <li>When prompted, choose where you want to save the file.</li>
        </ul>
        <p class="u-mt30"><em>These instructions won’t be included in your file.</em></p>
    </div>
    <div class="block
                block__flush-top
                block__padded-bottom
                block__border-bottom">
        <div class="h5">CFPB curriculum review tool</div>
        <h1>Final summary for Head Start Financial Literacy Curriculum</h1>
        <p class="lead-paragraph u-mb30">This summary shows the scores for all four dimensions.</p>
        <p><strong>Grade range:</strong> Middle School</p>
        <p><strong>Date completed:</strong> February 1, 2018</p>
        <p><strong>Date of publication:</strong> May 1, 2016</p>
    </div>
    <div class="block
                block__flush-top
                block__padded-bottom
                block__border-bottom">
        <h2>Content score</h2>
        <p class="u-mb30">How the curriculum meets the criteria for content:</p>
        <ul class="m-list__unstyled">
            <li class="u-mb30">
                <div class="m-form-field
                            m-form-field__radio
                            m-form-field__display">
                    <div class="a-label">
                        <svg class="m-form-field_radio-icon" viewBox="0 0 22 22">
                            <circle cx="11" cy="11" r="10" class="m-form-field_radio-icon-stroke"></circle>
                            <circle cx="11" cy="11" r="7" class="m-form-field_radio-icon-fill"></circle>
                        </svg>
                        <div>
                            <div><strong>Strong content</strong></div>
                            All 5 criteria were met, and at least one was exceeded
                        </div>
                    </div>
                </div>
            </li>
            <li class="u-mb30">
                <div class="m-form-field
                            m-form-field__radio
                            m-form-field__display">
                    <div class="a-label">
                        <svg class="m-form-field_radio-icon is-active" viewBox="0 0 22 22">
                            <circle cx="11" cy="11" r="10" class="m-form-field_radio-icon-stroke"></circle>
                            <circle cx="11" cy="11" r="7" class="m-form-field_radio-icon-fill"></circle>
                        </svg>
                        <div>
                            <div><strong>Moderate content</strong></div>
                            All 5 criteria were met
                        </div>
                    </div>
                </div>
            </li>
            <li class="u-mb30">
                <div class="m-form-field
                            m-form-field__radio
                            m-form-field__display">
                    <div class="a-label">
                        <svg class="m-form-field_radio-icon" viewBox="0 0 22 22">
                            <circle cx="11" cy="11" r="10" class="m-form-field_radio-icon-stroke"></circle>
                            <circle cx="11" cy="11" r="7" class="m-form-field_radio-icon-fill"></circle>
                        </svg>
                        <div>
                            <div><strong>Limited content</strong></div>
                            At least one of the criteria was not met
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="m-form-field u-mb30">
            <label class="a-label a-label__heading">
                Assets
                <small class="a-label_helper">(optional)</small>
            </label>
            <p><em>No information provided</em></p>
        </div>
        <div class="m-form-field u-mb30">
            <label class="a-label a-label__heading">
                Gaps
                <small class="a-label_helper">(optional)</small>
            </label>
            <p>These are the notes I previously entered. I can no longer edit these notes, which is why there’s not a text field box around me.</p>
        </div>
        <div class="m-form-field">
            <label class="a-label a-label__heading">
                Overall notes
                <small class="a-label_helper">(optional)</small>
            </label>
            <p>These are the notes I previously entered. I can no longer edit these notes, which is why there’s not a text field box around me.</p>
        </div>
    </div>
    <div class="block
                block__flush-top
                block__padded-bottom
                block__border-bottom">
        <h2>Utility score</h2>
        <p><em>Dimension not reviewed</em></p>
    </div>
    <h2>
        Key takeaways
        <small class="a-label_helper">(optional)</small>
    </h2>
    <p>These are my final thoughts that I entered on the final summary page. I am no longer editable now that I’m on the print page. To save on ink, I’ve dropped by gray highlight box. I’m thoughtful.</p>
{% endblock content_main %}

{% block footer %}
    <div class="u-hide-on-print">
        {% import 'organisms/footer.html' as o_footer with context %}
        {{ o_footer.render() }}
    </div>
{% endblock footer %}
