{% extends 'crt-base.html' %}

{% block content_main scoped %}
    <h1>Curriculum Review</h1>
    <h2>Getting Started</h2>
    <p>The materials you will need to conduct the review include the following:</p>
    <ul>
        <li>Scope and sequence</li>
        <li>Lesson plans for each lesson, with objectives, activities, supporting materials (such as handout masters), and directions for teachers</li>
        <li>Student assessments</li>
        <li>Guidance for teachers, such as suggestions for tailoring lessons, additional resources, and glossaries</li>
    </ul>
    <div class="block">
        <div class="m-notification m-notification__visible">
            {# {% include 'icons/error-round.svg' %} #}
            <div class="m-notification_content">
                <div class="h4 m-notification_message">You will not be able to save your work.<br>Please download a summary at the end of each dimension or the final summary report if you would like to save your results.</div>
            </div>
        </div>
    </div>
    <div class="block">
        <h2>Basic Information</h2>
        <p>Fill out your basic information before beginning the review.</p>
        <p><em>If you’ve completed a curriculum review and would like to clear the inputted information, please click clear.</em></p>
        <form>
            <p class="m-form-field m-form-field__text">
                <label class="a-label a-label__heading" for="tdp-crt_title">
                    Title of curriculum
                </label>
                <input class="a-text-input"
                        type="text"
                        id="tdp-crt_title">
            </p>
            <p class="m-form-field m-form-field__text">
                <label class="a-label a-label__heading" for="tdp-crt_pubdate">
                    Date of publication
                </label>
                <input class="a-text-input"
                        type="text"
                        id="tdp-crt_pubdate">
            </p>
            <p class="m-form-field m-form-field__select">
                <label class="a-label a-label__heading" for="tdp-crt_grade">
                    Grade range
                </label>
                <div class="a-select">
                    <select id="tdp-crt_grade">
                        <option value="">Select grade range</option>
                        <option value="">Elementary School</option>
                        <option value="">Middle School</option>
                        <option value="">High School</option>
                    </select>
                </div>
            </p>
            <button class="a-btn">
                Begin Review
            </button>
        </form>
    </div>
{% endblock content_main %}
