{% extends 'layout-full.html' %}


{# HEAD items #}

{% block title -%}
    Curriculum Review Tool | Consumer Financial Protection Bureau
{%- endblock title %}

{% block desc -%}
    Our vision is a consumer finance marketplace that works for American consumers, responsible providers, and the economy as a whole.
{%- endblock desc %}

{% block og_image -%}
    <meta property="og:image" content="{{ meta_image_url }}">
    <meta property="twitter:image" content="{{ meta_image_url }}">
    {# Optional property if you want to use Twitter's large card format
       https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/summary-card-with-large-image
    <meta name="twitter:card" content="summary_large_image">
    #}
{%- endblock og_image %}

{% block og_desc -%}
    {{ self.desc() }}
{%- endblock og_desc %}

{% block css -%}
    {{ super() }}

    <link rel="stylesheet" href="{{ static('tdp/css/tdp.css') }}">
{%- endblock css %}


{# BODY items #}

{% block header %}
    <header class="o-header" role="banner" data-js-hook="state_atomic_init">
        <div class="o-header_content js">
            <div class="wrapper wrapper__match-content">
                <a class="o-header_logo" href="/">
                    <img class="o-header_logo-img" src="/static/img/logo_237x50.png" srcset="/static/img/logo_161x34.png 161w,
                                /static/img/logo_161x34%402x.png 322w,
                                /static/img/logo_161x34%403x.png 483w,
                                /static/img/logo_161x34%404x.png 644w,
                                /static/img/logo_237x50.png 237w,
                                /static/img/logo_237x50%402x.png 474w" sizes="(max-width: 900px) 161px,
                                237px" alt="Consumer Financial Protection Bureau">
                </a>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content_main scoped %}
    <h1>Curriculum Review</h1>
    <h2>Getting Started</h2>
    <p>The materials you will need to conduct the review include the following:</p>
    <ul>
        <li>Scope and sequence</li>
        <li>Lesson plans for each lesson, with objectives, activities, supporting materials (such as handout masters), and directions for teachers</li>
        <li>Student assessments</li>
        <li>Guidance for teachers, such as suggestions for tailoring lessons, additional resources, and glossaries</li>
    </ul>

    <div class="block">
        <div class="m-notification m-notification__visible">
            {# {% include 'icons/error-round.svg' %} #}
            <div class="m-notification_content">
                <div class="h4 m-notification_message">You will not be able to save your work.<br>Please download a summary at the end of each dimension or the final summary report if you would like to save your results.</div>
            </div>
        </div>
    </div>

    <div class="block">
        <h2>Basic Information</h2>
        <p>Fill out your basic information before beginning the review.</p>
        <p><em>If you’ve completed a curriculum review and would like to clear the inputted information, please click clear.</em></p>
    </div>


    <div class="m-call-to-action">
        <a class="a-btn a-btn__full-on-xs a-btn__super" href="#">
            Begin Review
        </a>
    </div>
{% endblock content_main %}


{% block javascript scoped -%}
{# Conditional comment used to block IE8 and under from receiving JS #}
<!--[if gt IE 8]><!-->
    {# Include site-wide JavaScript. #}
    <script src="{{ static('js/routes/common.js') }}"></script>

    <script src="{{ static('tdp/js/routes/tdp.js') }}"></script>
<!--<![endif]-->

    <script>
    //<![CDATA[
        var usasearch_config = { siteHandle: 'cfpb' };

        var script = document.createElement( 'script' );
        script.type = 'text/javascript';
        script.src = 'https://search.usa.gov/javascripts/remote.loader.js';
        document.getElementsByTagName( 'head' )[0].appendChild( script );
    //]]>
    </script>
{%- endblock javascript %}
