{% extends 'crt-base.html' %}

{% block header %}
    <header class="o-header u-hide-on-print" role="banner">
        <div class="m-global-eyebrow m-global-eyebrow__horizontal">
            <div class="wrapper wrapper__match-content">
                <div class="m-global-eyebrow_tagline">
                    An official website of the
                    <span class="m-global-eyebrow_tagline-usa">United States Government</span>
                </div>
                &nbsp;
            </div>
        </div>
        <div class="o-header_content">
            <div class="wrapper wrapper__match-content">
                <a class="o-header_logo" href="/">
                    <img class="o-header_logo-img" src="/static/img/logo_237x50.png" srcset="/static/img/logo_161x34.png 161w,
                                /static/img/logo_161x34%402x.png 322w,
                                /static/img/logo_161x34%403x.png 483w,
                                /static/img/logo_161x34%404x.png 644w,
                                /static/img/logo_237x50.png 237w,
                                /static/img/logo_237x50%402x.png 474w" sizes="(max-width: 900px) 161px,
                                237px" alt="Consumer Financial Protection Bureau">
                </a>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content_main scoped %}
    <div class="block 
                block__flush-top
                block__padded-bottom
                block__border-bottom
                u-hide-on-print">    
        <h1>Print or save</h1>
        <h2>1. Print this summary or save as a PDF.</h2>
        <h2>2. When you're finished, close this window and return to the review.</h2>
        <h3>To save as a PDF:</h3>
        <p><strong>Windows users:</strong></p>
        <ul>
            <li>Open the print menu by pressing Ctrl+P.</li>
            <li>Under the "Printer" drop-down menu, select "Microsoft Print to PDF" or "Save as PDF." (The exact wording may vary by
                browser.)</li>
            <li>Click "Print."</li>
            <li>When prompted, choose where you want to save the file.</li>
            <li>If you're on an older version of Windows that does not have the built-in Microsoft Print to PDF printer, the Google
                Chrome browser provides its own "Save as PDF" option.</li>
        </ul>
        <p><strong>Mac users:</strong></p>
        <ul>
            <li>Open the print menu by pressing Command+P.</li>
            <li>From the PDF drop-down menu (in the lower-left corner), choose "Save as PDF." (In Chrome you may be able to skip
                this step and select “Open PDF in Preview.”)</li>
            <li>When prompted, choose where you want to save the file.</li>
        </ul>
        <p class="u-mt30"><em>These instructions won't be included in your file.</em></p>
    </div>
    <div class="block
                block__flush-top
                block__flush-bottom">
        <h2 class="h1">Summary of Findings</h1>
        <p><strong>Curriculum title:</strong> Head Start Financial Literacy Curriculum</p>
        <p><strong>Grade range:</strong> Middle School</p>
        <p><strong>Date completed:</strong> February 1, 2018</p>
        <p><strong>Date of publication:</strong> May 1, 2016</p>
    </div>
    <div class="block block__padded-top block__border-top block__flush-bottom">
        <h3 class="a-heading a-heading__icon">{# include icons/approved-round.svg #}Content score</h3>
        <p>How the curriculum meets the criteria for content:</p>
        <ul class="m-list__unstyled">
            <li class="m-form-field
                        u-mb30">
                <div class="m-form-field__display">
                    <svg class="m-form-field__radio-icon" height="24" width="24"><circle cx="10" cy="10" r="10" stroke="#919395" stroke-width="1" fill="#e7e8e9" /></svg>
                    <strong>Strong content</strong>
                    All 5 criteria were met, and at least one was exceeded
                </div>
            </li>
            <li class="m-form-field
                        u-mb30">
                <div class="m-form-field__display">
                    <svg class="m-form-field__radio-icon m-form-field__radio-icon--checked" height="24" width="24">
                        <circle cx="10" cy="10" r="10" stroke="#000000" stroke-width="1" fill="none" />
                        <circle cx="10" cy="10" r="7" stroke="none" fill="#000000" />
                    </svg>
                    <strong>Moderate content</strong>
                    All 5 criteria were met
                </div>
            </li>
            <li class="m-form-field
                        u-mb30">
                <div class="m-form-field__display">
                    <svg class="m-form-field__radio-icon" height="24" width="24"><circle cx="10" cy="10" r="10" stroke="#919395" stroke-width="1" fill="#e7e8e9" /></svg>
                    <strong>Limited content</strong>
                    At least one of the criteria was not met
                </div>
            </li>
        </ul>
        <h4 class="a-label">
            Assets 
            <small class="a-label_helper">(optional)</small>
        </h4>
        <p class="m-form-field__textarea"><em>No information provided</em></p>
        <h4>
            Gaps 
            <small class="a-label_helper">(optional)</small>
        </h4>
        <p class="m-form-field__textarea">These are the notes I previously entered. I can no longer edit these notes, which is why there’s not a text field box around me.</p>     
        <h4>
            Overall notes 
            <small class="a-label_helper">(optional)</small>
        </h4>
        <p class="m-form-field__textareaa">These are the notes I previously entered. I can no longer edit these notes, which is why there’s not a text field box around me.</p>
    </div>
    <div class="block block__padded-top block__border-top block__flush-bottom">
        <h3 class="a-heading a-heading__icon">{# include icons/approved-round.svg #}Utility score</h3>
        <p class="m-form-field__textarea"><em>Dimension not reviewed</em></p>
    </div>
    <div class="block
                block__border-top
                block__padded-top 
                block__border-bottom
                block__padded-bottom">
        <h2>
            Key takeaways 
            <small class="a-label_helper">(optional)</small>
        </h2>
        <p class="m-form-field__textarea">These are my final thoughts that I entered on the final summary page. I am no longer editable now that I’m on the print page. To save on ink, I’ve dropped by gray highlight box. I’m thoughtful.</p>
    </div>
    <div class="block
                block__flush-bottom
                u-page-break-before">
        <h2 class="h1">{# {% include icons/document-round.svg %} #}Content</h2>
        <p class="lead-paragraph">
            This dimension assesses whether the curriculum content helps students develop knowledge, skills, and behaviors that are important for financial capability. Evaluation criteria are based on research and major national and state education standards.
        </p>
        <div class="m-notification
                    m-notification__visible
                    u-mb30
                    u-mt30">
            <div class="m-notification_content">
                <div class="m-notification_message">
                    <div class="m-notification_message">
                        <h4>This dimension has <em>essential</em> and <em>beneficial</em> components.</h4>
                        <p><b><em>Essential components</em></b> have been shown to positively impact student learning.<br><b><em>Beneficial components</em></b> hold promise for positive impact on student learning, but may be more relevant and useful for some reviewers. Beneficial components are marked with a note; all others are essential. You must answer all components.</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr
                    u-mb30
                    u-mt30">
    </div>
    <div class="block block__flush-top">
        <h3 class="h2">{# {% include icons/approved-round.svg %} #}Criterion 1: Earning, income, and careers</h3>
        <p class="lead-paragraph">
            Does the curriculum address grade-level appropriate topics for saving and investing?
        </p>
        <ol class="m-list__unstyled">
            <li class="o-survey">
                <div class="o-survey_number">
                    <h4 class="h3">1.1</h4>
                </div>
                <div class="o-survey_indicator">
                    <h5 class="h3">Indicator</h5>
                    <p>People save for the future, and might have different goals for saving and make different choices about how to save.</p>
                </div>
                <div class="o-survey_components">
                    <h5 class="h3">Component</h5>
                    <div class="o-survey_component">
                        <div class="o-survey_question">
                            <p>One can save money in various ways, including home in a piggy bank or at a commercial union, or savings and loan institution.</p>
                        </div>
                        <div class="o-survey_answer">
                            <div class="m-form-field
                                        m-form-field__lg-target">
                                <div class="a-label">
                                    <svg class="m-form-field__radio-icon m-form-field__radio-icon--checked" height="24" width="24">
                                        <circle cx="10" cy="10" r="10" stroke="#000000" stroke-width="1" fill="none" />
                                        <circle cx="10" cy="10" r="7" stroke="none" fill="#000000" /></svg>
                                    </svg>
                                    Yes
                                </div>
                            </div>
                            <div class="m-form-field
                                        m-form-field__lg-target">
                                <div class="a-label">
                                    <svg class="m-form-field__radio-icon" height="24" width="24"><circle cx="10" cy="10" r="10" stroke="#919395" stroke-width="1" fill="#e7e8e9" /></svg>
                                    No
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="o-survey_component">
                        <div class="o-survey_question">
                            <p>Saving helps individuals act on future opportunities, meet short-term and long-term goals, and address financial emergencies.</p>
                            <p class="o-survey_question-helper">Beneficial, but not essential.</p>
                        </div>
                        <div class="o-survey_answer">
                            <div class="m-form-field
                                        m-form-field__lg-target">
                                <div class="a-label">
                                    <svg class="m-form-field__radio-icon" height="24" width="24"><circle cx="10" cy="10" r="10" stroke="#919395" stroke-width="1" fill="#e7e8e9" /></svg>
                                    Yes
                                </div>
                            </div>
                            <div class="m-form-field
                                        m-form-field__lg-target">
                                <div class="a-label">
                                    <svg class="m-form-field__radio-icon m-form-field__radio-icon--checked" height="24" width="24">
                                        <circle cx="10" cy="10" r="10" stroke="#000000" stroke-width="1" fill="none" />
                                        <circle cx="10" cy="10" r="7" stroke="none" fill="#000000" /></svg>
                                    </svg>
                                    No
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="o-survey">
                <div class="o-survey_number">
                    <h4 class="h3">1.2</h4>
                </div>
                <div class="o-survey_indicator">
                    <h5 class="h3">Indicator</h5>
                    <p>Compound interest affects the value of savings.</p>
                </div>
                <div class="o-survey_components">
                    <h5 class="h3">Component</h5>
                    <div class="o-survey_component">
                        <div class="o-survey_question">
                            <p>Saving money in a bank or credit union allows the money to earn interest.</p>
                        </div>
                        <div class="o-survey_answer">
                            <div class="m-form-field
                                        m-form-field__lg-target">
                                <div class="a-label">
                                    <svg class="m-form-field__radio-icon" height="24" width="24"><circle cx="10" cy="10" r="10" stroke="#919395" stroke-width="1" fill="#e7e8e9" /></svg>
                                    Yes
                                </div>
                            </div>
                            <div class="m-form-field
                                        m-form-field__lg-target">
                                <div class="a-label">
                                    <svg class="m-form-field__radio-icon m-form-field__radio-icon--checked" height="24" width="24">
                                        <circle cx="10" cy="10" r="10" stroke="#000000" stroke-width="1" fill="none" />
                                        <circle cx="10" cy="10" r="7" stroke="none" fill="#000000" /></svg>
                                    </svg>
                                    No
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="o-survey">
                <div class="o-survey_number">
                    <h4 class="h3">1.3</h4>
                </div>
                <div class="o-survey_indicator">
                    <h5 class="h3">Indicator</h5>
                    <p>Investments involve purchase of financial assets to increase wealth.</p>
                </div>
                <div class="o-survey_components">
                    <h5 class="h3">Component</h5>
                    <div class="o-survey_component">
                        <div class="o-survey_question">
                            <p>The goal of savings is to set aside income for future spending, whereas the goal of investing is to increase wealth over time.</p>
                        </div>
                        <div class="o-survey_answer">
                            <div class="m-form-field
                                        m-form-field__lg-target">
                                <div class="a-label">
                                    <svg class="m-form-field__radio-icon m-form-field__radio-icon--checked" height="24" width="24">
                                        <circle cx="10" cy="10" r="10" stroke="#000000" stroke-width="1" fill="none" />
                                        <circle cx="10" cy="10" r="7" stroke="none" fill="#000000" /></svg>
                                    </svg>
                                    Yes
                                </div>
                            </div>
                            <div class="m-form-field
                                        m-form-field__lg-target">
                                <div class="a-label">
                                    <svg class="m-form-field__radio-icon" height="24" width="24"><circle cx="10" cy="10" r="10" stroke="#919395" stroke-width="1" fill="#e7e8e9" /></svg>
                                    No
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </oll>
        <h4>
            My notes
            <small class="a-label_helper">(optional)</small>
        </h4>
        <p class="m-form-field__textarea">These are the notes I previously entered. I can no longer edit these notes, which is why there’s not a text field box around me.</p>
    </div>


{% endblock content_main %}
