{% extends 'layout-1-3.html' %}

{% macro build_nested_facets(facets, type, is_child=False) %}
    <ul class="m-list__unstyled{% if is_child: %} children{% endif %}">
        {% for facet in facets %}
            {% if facet.children %}
                <div class="aggregation-branch">
                    <li class="parent m-form-field m-form-field__checkbox body-copy">
                        <input type="checkbox" aria-label="{{ facet.title }}" class="a-checkbox" id="{{ type }}--{{ facet.title | trim | slugify}}" name="{{ type }}" value="{{ facet.id }}"{% if facet.selected %} checked="checked"{% endif %}>
                        <label class="toggle a-label" for="{{ type }}--{{ facet.title | trim | slugify}}"></label>
                        <button class="a-btn a-btn__link" title="{{ facet.title }}"><span>{{ facet.title }}</span><span class="cf-icon cf-icon-down"></span></button>
                    </li>
                    {{ build_nested_facets(facet.children, type, True) }}
                </div>
                {% else %}
                <li class=" m-form-field m-form-field__checkbox body-copy">
                    <input type="checkbox" aria-label="{{ facet.title }}" class="a-checkbox" id="{{ type }}--{{ facet.title | trim | slugify}}" name="{{ type }}" value="{{ facet.id }}"{% if facet.selected %} checked="checked"{% endif %}>
                    <label class="a-label" for="{{ type }}--{{ facet.title | trim | slugify}}">{{ facet.title }}</label>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

{% block css -%}
    {{ super() }}

    <link rel="stylesheet" href="{{ static('tdp/css/tdp.css') }}">
{%- endblock css %}

{% block body_content scoped %}
<div class="tdp-activity-search wrapper content_wrapper l-sidebar-1-2 {% block content_wrapper_modifiers -%}{%- endblock %}">
    <section class="m-hero">
        <div class="m-hero_wrapper">
            <div class="m-hero_text">
                <h1 class="m-hero_heading">{{ page.title | striptags }}</h1>
                {{ page.intro | richtext }}
                <div class="m-notification m-notification__visible m-notification__warning u-mt30 u-mb10">
                    <span class="a-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1200" class="cf-icon-svg"><path d="M500 105.2c-276.1 0-500 223.9-500 500s223.9 500 500 500 500-223.9 500-500-223.9-500-500-500zm-49.7 234.6c0-27.6 22.4-50 50-50s50 22.4 50 50v328.6c0 27.6-22.4 50-50 50s-50-22.4-50-50V339.8zm50 582.5c-39.6 0-71.7-32.1-71.7-71.7s32.1-71.7 71.7-71.7S572 811 572 850.6s-32.1 71.7-71.7 71.7z"></path></svg></span>
                    <div class="m-notification_content">
                        <div class="m-notification_message">
                            <h2 class="h4">Currently, there are only activities for high school.</h2>
                            <p>Activities for elementary and middle school are being developed and will be available at a later time.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-hero_image-wrapper">
                <div class="m-hero_image"></div>
            </div>
        </div>
        <style>
            .m-hero {
                background-color: transparent;
            }
            .m-hero_image-wrapper {
                margin-top: 0;
            }
            .m-hero_image {
                background-image: url('https://s3.amazonaws.com/files.consumerfinance.gov/f/images/Auto_small_screen_hero.original.jpg');
                filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                    src='https://s3.amazonaws.com/files.consumerfinance.gov/f/images/Auto_small_screen_hero.original.jpg',
                    sizingMethod='scale');
            }
        </style>
    </section>
    <hr class="u-mb0 u-ml15 u-mr15" />
    <aside class="content_sidebar">
        <section class="o-filter-panel">
            <h2>Find activities</h2>
            <p>Search for financial education topics relevant to your class, then filter to narrow the results.</p>
            <h3>Search</h3>
            <p>Search for activities by key terms or concepts.</p>
            <div class="layout-row">
                <form class="keyword-search-form" method="GET" action="{{ page.url }}#content_main">
                    <div class="flex-all typeahead-portal">
                        <section class="typeahead flex-all">
                            <div class="m-btn-inside-input input-contains-label">
                                <label class="input-contains-label_before input-contains-label_before__search"></label>
                                <input type="text" autocomplete="off" class="a-text-input" placeholder="Search term(s)" aria-label="The term to search for" id="searchText" name="q" value="{% if search_query: %}{{ search_query }}{% endif %}">
                            </div>
                        </section>
                        <button type="submit" class="a-btn flex-fixed">Search</button>
                    </div>
                </form>
            </div>
            <h3 class="u-mt30">Filter results by</h3>
            <form method="GET" action="{{ page.url }}#content_main">
                <input type="hidden" name="q" value="{% if search_query: %}{{ search_query }}{% endif %}">
                <input type="hidden" name="page" inputmode="numeric" value="1">
                <p>Narrow your search by selecting specific activity features.</p>
                {% if facets.building_block %}
                <hr />
                <section class="o-expandable u-mb15">
                    <div class="o-expandable_header o-expandable_target">
                        <h4 class="o-expandable_header-left o-expandable_label u-mb10">Building block</h4>
                        <span class="o-expandable_header-right o-expandable_link">
                            <button class="a-btn a-btn__link o-expandable_cue o-expandable_cue-close">Hide
                                <span class="cf-icon cf-icon-minus-round"></span>
                            </button>
                        </span>
                    </div>
                    <div>
                        <ul class="m-list__unstyled">
                            {% for facet in facets.building_block %}
                            <li class="m-form-field m-form-field__checkbox">
                                <input type="checkbox" class="a-checkbox" aria-label="{{ facet.title}}" id="building-block--{{ facet.title | trim | slugify}}" name="building_block" value="{{ facet.id }}"{% if facet.selected %} checked="checked"{% endif %}>
                                <label class="a-label" for="building-block--{{ facet.title | trim | slugify}}">{{ facet.title }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
                {% endif %}
                {% if facets.school_subject %}
                <hr />
                <section class="o-expandable u-mb15">
                    <div class="o-expandable_header o-expandable_target">
                        <h4 class="o-expandable_header-left o-expandable_label u-mb10">School subject</h4>
                        <span class="o-expandable_header-right o-expandable_link">
                            <button class="a-btn a-btn__link o-expandable_cue o-expandable_cue-close">Hide
                                <span class="cf-icon cf-icon-minus-round"></span>
                            </button>
                        </span>
                    </div>
                    <div>
                        <ul class="m-list__unstyled">
                            {% for facet in facets.school_subject %}
                            <li class="m-form-field m-form-field__checkbox">
                                <input type="checkbox" class="a-checkbox" aria-label="{{ facet.title}}" id="school-subject--{{ facet.title | trim | slugify}}" name="school_subject" value="{{ facet.id }}"{% if facet.selected %} checked="checked"{% endif %}>
                                <label class="a-label" for="school-subject--{{ facet.title | trim | slugify}}">{{ facet.title }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
                {% endif %}
                {% if facets.topic %}
                <hr />
                <section class="o-expandable u-mb15">
                    <div class="o-expandable_header o-expandable_target">
                        <h4 class="o-expandable_header-left o-expandable_label u-mb10">Topic</h4>
                        <span class="o-expandable_header-right o-expandable_link">
                            <button class="a-btn a-btn__link o-expandable_cue o-expandable_cue-close">Hide
                                <span class="cf-icon cf-icon-minus-round"></span>
                            </button>
                        </span>
                    </div>
                    <div>
                        {{ build_nested_facets(facets.topic, 'topic') }}
                    </div>
                </section>
                {% endif %}
                {% if facets.grade_level or facets.age_range or facets.special_population %}<h3 class="u-mt45">Audience</h3>{% endif %}
                {% if facets.grade_level %}
                <hr />
                <section class="o-expandable u-mb15">
                    <div class="o-expandable_header o-expandable_target">
                        <h4 class="o-expandable_header-left o-expandable_label u-mb10">Grade level</h4>
                        <span class="o-expandable_header-right o-expandable_link">
                            <button class="a-btn a-btn__link o-expandable_cue o-expandable_cue-close">Hide
                                <span class="cf-icon cf-icon-minus-round"></span>
                            </button>
                        </span>
                    </div>
                    <div>
                        <ul class="m-list__unstyled">
                            {% for facet in facets.grade_level %}
                            <li class="m-form-field m-form-field__checkbox">
                                <input type="checkbox" class="a-checkbox" aria-label="{{ facet.title}}" id="grade-level--{{ facet.title | trim | slugify}}" name="grade_level" value="{{ facet.id }}"{% if facet.selected %} checked="checked"{% endif %}>
                                <label class="a-label" for="grade-level--{{ facet.title | trim | slugify}}">{{ facet.title }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
                {% endif %}
                {% if facets.age_range %}
                <hr />
                <section class="o-expandable u-mb15">
                    <div class="o-expandable_header o-expandable_target">
                        <h4 class="o-expandable_header-left o-expandable_label u-mb10">Age range</h4>
                        <span class="o-expandable_header-right o-expandable_link">
                            <button class="a-btn a-btn__link o-expandable_cue o-expandable_cue-close">Hide
                                <span class="cf-icon cf-icon-minus-round"></span>
                            </button>
                        </span>
                    </div>
                    <div>
                        <ul class="m-list__unstyled">
                            {% for facet in facets.age_range %}
                            <li class="m-form-field m-form-field__checkbox">
                                <input type="checkbox" class="a-checkbox" aria-label="{{ facet.title}}" id="age_range--{{ facet.title | trim | slugify}}" name="age_range" value="{{ facet.id }}"{% if facet.selected %} checked="checked"{% endif %}>
                                <label class="a-label" for="age_range--{{ facet.title | trim | slugify}}">{{ facet.title }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
                {% endif %}
                {% if facets.special_population %}
                <hr />
                <section class="o-expandable u-mb15">
                    <div class="o-expandable_header o-expandable_target">
                        <h4 class="o-expandable_header-left o-expandable_label u-mb10">Special population</h4>
                        <span class="o-expandable_header-right o-expandable_link">
                            <button class="a-btn a-btn__link o-expandable_cue o-expandable_cue-close">Hide
                                <span class="cf-icon cf-icon-minus-round"></span>
                            </button>
                        </span>
                    </div>
                    <div>
                        <ul class="m-list__unstyled">
                            {% for facet in facets.special_population %}
                            <li class="m-form-field m-form-field__checkbox">
                                <input type="checkbox" class="a-checkbox" aria-label="{{ facet.title}}" id="special-population--{{ facet.title | trim | slugify}}" name="special_population" value="{{ facet.id }}"{% if facet.selected %} checked="checked"{% endif %}>
                                <label class="a-label" for="special-population--{{ facet.title | trim | slugify}}">{{ facet.title }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
                {% endif %}
                {% if facets.activity_type or facets.teaching_strategy or facets.blooms_taxonomy_level or facets.activity_duration %}<h3 class="u-mt45">Activity characteristics</h3>{% endif %}
                {% if facets.activity_type %}
                <hr />
                <section class="o-expandable u-mb15">
                    <div class="o-expandable_header o-expandable_target">
                        <h4 class="o-expandable_header-left o-expandable_label u-mb10">Activity type</h4>
                        <span class="o-expandable_header-right o-expandable_link">
                            <button class="a-btn a-btn__link o-expandable_cue o-expandable_cue-close">Hide
                                <span class="cf-icon cf-icon-minus-round"></span>
                            </button>
                        </span>
                    </div>
                    <div>
                        <ul class="m-list__unstyled">
                            {% for facet in facets.activity_type %}
                            <li class="m-form-field m-form-field__checkbox">
                                <input type="checkbox" class="a-checkbox" aria-label="{{ facet.title}}" id="activity-type--{{ facet.title | trim | slugify}}" name="activity_type" value="{{ facet.id }}"{% if facet.selected %} checked="checked"{% endif %}>
                                <label class="a-label" for="activity-type--{{ facet.title | trim | slugify}}">{{ facet.title }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
                {% endif %}
                {% if facets.teaching_strategy %}
                <hr />
                <section class="o-expandable u-mb15">
                    <div class="o-expandable_header o-expandable_target">
                        <h4 class="o-expandable_header-left o-expandable_label u-mb10">Teaching strategy</h4>
                        <span class="o-expandable_header-right o-expandable_link">
                            <button class="a-btn a-btn__link o-expandable_cue o-expandable_cue-close">Hide
                                <span class="cf-icon cf-icon-minus-round"></span>
                            </button>
                        </span>
                    </div>
                    <div>
                        <ul class="m-list__unstyled">
                            {% for facet in facets.teaching_strategy %}
                            <li class="m-form-field m-form-field__checkbox">
                                <input type="checkbox" class="a-checkbox" aria-label="{{ facet.title}}" id="teaching-strategy--{{ facet.title | trim | slugify}}" name="teaching_strategy" value="{{ facet.id }}"{% if facet.selected %} checked="checked"{% endif %}>
                                <label class="a-label" for="teaching-strategy--{{ facet.title | trim | slugify}}">{{ facet.title }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
                {% endif %}
                {% if facets.blooms_taxonomy_level %}
                <hr />
                <section class="o-expandable u-mb15">
                    <div class="o-expandable_header o-expandable_target">
                        <h4 class="o-expandable_header-left o-expandable_label u-mb10">Bloom's Taxonomy level</h4>
                        <span class="o-expandable_header-right o-expandable_link">
                            <button class="a-btn a-btn__link o-expandable_cue o-expandable_cue-close">Hide
                                <span class="cf-icon cf-icon-minus-round"></span>
                            </button>
                        </span>
                    </div>
                    <div>
                        <ul class="m-list__unstyled">
                            {% for facet in facets.blooms_taxonomy_level %}
                            <li class="m-form-field m-form-field__checkbox">
                                <input type="checkbox" class="a-checkbox" aria-label="{{ facet.title}}" id="blooms-taxonomy-level--{{ facet.title | trim | slugify}}" name="blooms_taxonomy_level" value="{{ facet.id }}"{% if facet.selected %} checked="checked"{% endif %}>
                                <label class="a-label" for="blooms-taxonomy-level--{{ facet.title | trim | slugify}}">{{ facet.title }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
                {% endif %}
                {% if facets.activity_duration %}
                <hr />
                <section class="o-expandable u-mb15">
                    <div class="o-expandable_header o-expandable_target">
                        <h4 class="o-expandable_header-left o-expandable_label u-mb10">Activity duration</h4>
                        <span class="o-expandable_header-right o-expandable_link">
                            <button class="a-btn a-btn__link o-expandable_cue o-expandable_cue-close">Hide
                                <span class="cf-icon cf-icon-minus-round"></span>
                            </button>
                        </span>
                    </div>
                    <div>
                        <ul class="m-list__unstyled">
                            {% for facet in facets.activity_duration %}
                            <li class="m-form-field m-form-field__checkbox">
                                <input type="checkbox" class="a-checkbox" aria-label="{{ facet.title}}" id="activity-duration--{{ facet.title | trim | slugify}}" name="activity_duration" value="{{ facet.id }}"{% if facet.selected %} checked="checked"{% endif %}>
                                <label class="a-label" for="activity-duration--{{ facet.title | trim | slugify}}">{{ facet.title }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
                {% endif %}
                {% if facets.council_for_economic_education or facets.jump_start_coalition %}<h3 class="u-mt45">National standards</h3>{% endif %}
                {% if facets.council_for_economic_education %}
                <hr />
                <section class="o-expandable u-mb15">
                    <div class="o-expandable_header o-expandable_target">
                        <h4 class="o-expandable_header-left o-expandable_label u-mb10">Council for Economic Education</h4>
                        <span class="o-expandable_header-right o-expandable_link">
                            <button class="a-btn a-btn__link o-expandable_cue o-expandable_cue-close">Hide
                                <span class="cf-icon cf-icon-minus-round"></span>
                            </button>
                        </span>
                    </div>
                    <div>
                        <ul class="m-list__unstyled">
                            {% for facet in facets.council_for_economic_education %}
                            <li class="m-form-field m-form-field__checkbox">
                                <input type="checkbox" class="a-checkbox" aria-label="{{ facet.title}}" id="council-for-economic-education--{{ facet.title | trim | slugify}}" name="council_for_economic_education" value="{{ facet.id }}"{% if facet.selected %} checked="checked"{% endif %}>
                                <label class="a-label" for="council-for-economic-education--{{ facet.title | trim | slugify}}">{{ facet.title }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
                {% endif %}
                {% if facets.jump_start_coalition %}
                <hr />
                <section class="o-expandable u-mb15">
                    <div class="o-expandable_header o-expandable_target">
                        <h4 class="o-expandable_header-left o-expandable_label u-mb10">Jump$tart Coalition</h4>
                        <span class="o-expandable_header-right o-expandable_link">
                            <button class="a-btn a-btn__link o-expandable_cue o-expandable_cue-close">Hide
                                <span class="cf-icon cf-icon-minus-round"></span>
                            </button>
                        </span>
                    </div>
                    <div>
                        <ul class="m-list__unstyled">
                            {% for facet in facets.jump_start_coalition %}
                            <li class="m-form-field m-form-field__checkbox">
                                <input type="checkbox" class="a-checkbox" aria-label="{{ facet.title}}" id="jump-start-coalition--{{ facet.title | trim | slugify}}" name="jump_start_coalition" value="{{ facet.id }}"{% if facet.selected %} checked="checked"{% endif %}>
                                <label class="a-label" for="jump-start-coalition--{{ facet.title | trim | slugify}}">{{ facet.title }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
                {% endif %}
                <div class="filter-panel__apply-filters"><input type="submit" value="Apply Filters"> | <a href="{{ page.url }}"> Clear all filters</a></div>
            </form>
        </section>
    </aside>

    <section class="content_main">
        <a id="content_main"></a>
        <div class="filters_applied">
            {% if page.results.facet_queries or search_query %}
            <span class="filters_applied-label">
                Filters applied:
            </span>
            <div id="filter-tag-container">
                {% if search_query %}
                <span class="filter-tag">Keyword: "{{ search_query }}"</span>
                {% endif %}
                {% for facet in facets.building_block if facet.selected %}
                    <span class="filter-tag">{{ facet.title }}</span>
                {% endfor %}
                {% for facet in facets.school_subject if facet.selected%}
                    <span class="filter-tag">{{ facet.title }}</span>
                {% endfor %}
                {% for facet in facets.topic %}
                    {% if facet.selected %}<span class="filter-tag">{{ facet.title }}</span>{% endif %}
                    {% if facet.children %}
                        {% for facet_child in facet.children if facet_child.selected %}
                            <span class="filter-tag">{{ facet_child.title }}</span>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {% for facet in facets.grade_level if facet.selected %}
                    <span class="filter-tag">{{ facet.title }}</span>
                {% endfor %}
                {% for facet in facets.age_range if facet.selected %}
                    <span class="filter-tag">{{ facet.title }}</span>
                {% endfor %}
                {% for facet in facets.special_population if facet.selected %}
                    <span class="filter-tag">{{ facet.title }}</span>
                {% endfor %}
                {% for facet in facets.activity_type if facet.selected %}
                    <span class="filter-tag">{{ facet.title }}</span>
                {% endfor %}
                {% for facet in facets.teaching_strategy if facet.selected %}
                    <span class="filter-tag">{{ facet.title }}</span>
                {% endfor %}
                {% for facet in facets.blooms_taxonomy_level if facet.selected %}
                    <span class="filter-tag">{{ facet.title }}</span>
                {% endfor %}
                {% for facet in facets.activity_duration if facet.selected %}
                    <span class="filter-tag">{{ facet.title }}</span>
                {% endfor %}
                {% for facet in facets.jump_start_coalition if facet.selected %}
                    <span class="filter-tag">{{ facet.title }}</span>
                {% endfor %}
                {% for facet in facets.council_for_economic_education if facet.selected %}
                    <span class="filter-tag">{{ facet.title }}</span>
                {% endfor %}
            </div>
            <a href="{{ page.url }}#content_main"><button class="a-btn a-btn__link a-btn__warning a-micro-copy filters_clear"> Clear all filters</button></a>
            {% endif %}
        </div>
        <h2 class="u-mt30">Confirming title and notification</h2>
        <ul class="m-list__unstyled">
            {% for result in activities %}
                {% if result %}
                <li>{% include "activity_search_result.html" %}</li>
                {% endif %}
            {% else %}
            <li> No results found.</li>
            {% endfor %}

        </ul>
        {% if total_results > 0 %}
        <nav class="m-pagination" role="navigation" aria-label="Pagination">
            {% if pager_previous %}<a href="{{ page.url}}?{{ pager_previous }}">{% endif %}<button class="a-btn m-pagination_btn-prev" {% if not pager_previous %}disabled=""{% endif %}><span class="a-btn_icon a-btn_icon__on-left cf-icon cf-icon__before cf-icon-left"></span>Previous</button>{% if pager_previous %}</a>{% endif %}
            {% if pager_next %}<a href="{{ page.url}}?{{ pager_next }}">{% endif %}<button class="a-btn m-pagination_btn-next" {% if not pager_next %}disabled=""{% endif %}>Next<span class="a-btn_icon a-btn_icon__on-right cf-icon cf-icon__after cf-icon-right"></span></button>{% if pager_next %}</a>{% endif %}
            <form class="m-pagination_form" action="{{ page.url }}#content_main">
                <input type="hidden" name="q" value="{% if search_query: %}{{ search_query }}{% endif %}">
                {% for facet in page.results.selected_facets.building_block %}
                    <input type="hidden" name="building_block" value="{{ facet }}">
                {% endfor %}
                {% for facet in page.results.selected_facets.school_subject %}
                    <input type="hidden" name="school_subject" value="{{ facet }}">
                {% endfor %}
                {% for facet in page.results.selected_facets.topic %}
                    <input type="hidden" name="topic" value="{{ facet }}">
                {% endfor %}
                {% for facet in page.results.selected_facets.grade_level %}
                    <input type="hidden" name="grade_level" value="{{ facet }}">
                {% endfor %}
                {% for facet in page.results.selected_facets.age_range %}
                    <input type="hidden" name="age_range" value="{{ facet }}">
                {% endfor %}
                {% for facet in page.results.selected_facets.special_population %}
                    <input type="hidden" name="special_population" value="{{ facet }}">
                {% endfor %}
                {% for facet in page.results.selected_facets.activity_type %}
                    <input type="hidden" name="activity_type" value="{{ facet }}">
                {% endfor %}
                {% for facet in page.results.selected_facets.teaching_strategy %}
                    <input type="hidden" name="teaching_strategy" value="{{ facet }}">
                {% endfor %}
                {% for facet in page.results.selected_facets.blooms_taxonomy_level %}
                    <input type="hidden" name="blooms_taxonomy_level" value="{{ facet }}">
                {% endfor %}
                {% for facet in page.results.selected_facets.activity_duration %}
                    <input type="hidden" name="activity_duration" value="{{ facet }}">
                {% endfor %}
                {% for facet in page.results.selected_facets.jump_start_coalition %}
                    <input type="hidden" name="jump_start_coalition" value="{{ facet }}">
                {% endfor %}
                {% for facet in page.results.selected_facets.council_for_economic_education %}
                    <input type="hidden" name="council_for_economic_education" value="{{ facet }}">
                {% endfor %}
                <label class="m-pagination_label" for="m-pagination_current-page">Page<span class="u-visually-hidden">number {{ page_number }} out</span><input class="m-pagination_current-page" id="m-pagination_current-page" name="page" type="number" min="1" max="{{ total_pages }}" pattern="[0-9]*" inputmode="numeric" value="{{ '{0:,}'.format(page_number) }}">of&nbsp;<span>{{ '{0:,}'.format(total_pages) }}</span></label>
                <button class="a-btn a-btn__link m-pagination_btn-submit" id="m-pagination_btn-submit" type="submit">Go</button>
            </form>
        </nav>
        {% endif %}
    </section>
</div>
{% endblock %}

{% block javascript %}
    {{ super() }}

    {# Conditional comment used to block IE8 and under from receiving JS #}
    <!--[if gt IE 8]><!-->
        <script src="{{ static('tdp/js/tdp.js') }}"></script>
    <!--<![endif]-->

    <script type="text/javascript">
        /*
            Replicate jQuery's .closest() functionality
            Credit: https://stackoverflow.com/a/24107550
        */
        function closest(el, selector) {
            var matchesFn;

            // find vendor prefix
            ['matches','webkitMatchesSelector','mozMatchesSelector','msMatchesSelector','oMatchesSelector'].some(function(fn) {
                if (typeof document.body[fn] == 'function') {
                    matchesFn = fn;
                    return true;
                }
                return false;
            })

            var parent;

            // traverse parents
            while (el) {
                parent = el.parentElement;
                if (parent && parent[matchesFn](selector)) {
                    return parent;
                }
                el = parent;
            }

            return null;
        }

        /* Use vanilla JS instead of jQuery */
        document.addEventListener("DOMContentLoaded", function(event) {
            // Hide the apply filters submit button in the sidebar
            var submit_buttons = document.querySelectorAll(".filter-panel__apply-filters")
            var i;
            for (i = 0; i < submit_buttons.length; i++) {
                submit_buttons[i].style.display = "none";
            }
            // Make facets auto-submit on change
            var checkboxes = document.querySelectorAll(".content_sidebar  > .o-filter-panel form input[type=checkbox]")
            for (i = 0; i < checkboxes.length; i++) {
                checkboxes[i].addEventListener("change", function(){
                    facet_form = closest(this, "form")
                    facet_form.submit();
                });
            }
        });

        /* jQuery code
        Note: requires <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
        $(document).ready(function(){
            $('.filter-panel__apply-filters').hide();
            $(".content_sidebar > .o-filter-panel form input:checkbox").change(function() {
                $(this).closest('form').submit();
            });
        });
        */
    </script>
{% endblock javascript %}
