{% extends 'layout-1-3.html' %}

{% block css -%}
    {{ super() }}

    <link rel="stylesheet" href="{{ static('tdp/css/tdp.css') }}">
{%- endblock css %}

{% block body_content scoped %}
<div class="tdp-activity-search wrapper content_wrapper l-sidebar-1-2 {% block content_wrapper_modifiers -%}{%- endblock %}">
    <section class="m-hero">
        <div class="m-hero_wrapper">
            <div class="m-hero_text">
                <h1 class="m-hero_heading">{{ page.title | striptags }}</h1>
                {{ page.intro | richtext }}
                <div class="m-notification m-notification__visible m-notification__warning u-mt30 u-mb10">
                    <span class="a-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1200" class="cf-icon-svg"><path d="M500 105.2c-276.1 0-500 223.9-500 500s223.9 500 500 500 500-223.9 500-500-223.9-500-500-500zm-49.7 234.6c0-27.6 22.4-50 50-50s50 22.4 50 50v328.6c0 27.6-22.4 50-50 50s-50-22.4-50-50V339.8zm50 582.5c-39.6 0-71.7-32.1-71.7-71.7s32.1-71.7 71.7-71.7S572 811 572 850.6s-32.1 71.7-71.7 71.7z"></path></svg></span>
                    <div class="m-notification_content">
                        <div class="m-notification_message">
                            <h2 class="h4">Currently, there are only activities for high school.</h2>
                            <p>Activities for elementary and middle school are being developed and will be available at a later time.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-hero_image-wrapper">
                <div class="m-hero_image"></div>
            </div>
        </div>
        <style>
            .m-hero_image {
                background-image: url('https://s3.amazonaws.com/files.consumerfinance.gov/f/images/Auto_small_screen_hero.original.jpg');
                filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
                    src='https://s3.amazonaws.com/files.consumerfinance.gov/f/images/Auto_small_screen_hero.original.jpg',
                    sizingMethod='scale');
            }
        </style>
    </section>
    <hr class="u-mb0 u-ml15 u-mr15" />
    <h2>Find activities</h2>
    <p>Search for financial education topics relevant to your class, then filter to narrow the results.</p>
    <h3>Search</h3>
    <p>Search for activities by key terms or concepts.</p>
    <form class="u-mt30" method="get" action="." data-js-hook="behavior_submit-search">
        <div class="o-form__input-w-btn">
            <div class="o-form__input-w-btn_input-container">
                <div class="m-btn-inside-input input-contains-label">
                    <label for="searchText" class="input-contains-label_before input-contains-label_before__search"></label>
                    <label for="searchText" class="input-contains-label_after input-contains-label_after__clear u-hidden"></label>
                    <input id="searchText" type="text" autocomplete="off" class="a-text-input" name="q"
                            placeholder="Enter your search term(s)"
                            aria-label="The term to search for"
                            value="{% if page.results.search_query: %}{{ page.results.search_query }}{% endif %}">
                </div>
            </div><div class="o-form__input-w-btn_btn-container"><button class="a-btn">Search</button></div>
        </div>
    </form>
    <div id="tdp-search-facets-and-results">
        {% include 'activity_search_facets_and_results.html' %}
    </div>
</div>
{% endblock %}

{% block javascript %}
    {{ super() }}

    {# Conditional comment used to block IE8 and under from receiving JS #}
    <!--[if gt IE 8]><!-->
        <script src="{{ static('tdp/js/tdp.js') }}"></script>
    <!--<![endif]-->
{% endblock javascript %}
