.DistinctiveBoxFormat {
  text-align: left;
}

.CriterionPageTextFormat {
  text-align: left;
}

.Distinctive {
	float: left;
	width: 210px;
	height: 140px;
	margin: 0.5em;
	border: 1px solid black;
	padding: 0.5em;
}

.DistinctivesBlock:after {
  content: "";
  display: block;
  clear: both;
}