// Tour

.o-tour {}

.o-tour_screen {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 50%;
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        top: 0;
        left: 50%;
        right: 0;
        z-index: -1;
    }
}

.o-tour_content {
    box-sizing: border-box;
    min-height: 100vh;
    padding: unit( 30px / @base-font-size-px, em ) unit( 15px / @base-font-size-px, em );

    .respond-to-min(@bp-sm-min, {
        padding: unit( 45px / @base-font-size-px, em ) unit( 30px / @base-font-size-px, em );
    });

    .respond-to-min(@bp-med-min, {
        padding: unit( 45px / @base-font-size-px, em ) unit( 15px / @base-font-size-px, em );
    });
}

.o-tour_screen__intro {
    .o-tour_content {
        min-height: ~"calc( 100vh - 108px )";

        .respond-to-min(@bp-med-min, {
            min-height: ~"calc( 100vh - 226px )";
        });
    }
}

.o-tour_screen__one {
    &:before {
        background: red;
    }
    &::after {
        background: blue;
    }
}

.o-tour_screen__two {}

.o-tour_screen__three {}

.o-tour_screen__four {}
