/* ==========================================================================
   college-costs
   ========================================================================== */

// This is your project's main Less file.
// Project-specific Less rules go after the imports.

// Import required CF components.
@import (less) 'cf-core.less';
@import (less) 'cf-icons.less';
@import (less) 'cf-buttons.less';
@import (less) 'cf-forms.less';
@import (less) 'cf-grid.less';
@import (less) 'cf-layout.less';
@import (less) 'cf-typography.less';
@import (less) 'cf-notifications.less';
@import (less) 'cf-pagination.less';
@import (less) 'cf-expandables.less';
@import (less) 'cf-tables.less';

// Icon font path
@cf-icon-path: '../fonts';

// Webfont variables
// This is the path for self-hosted fonts.
@cf-fonts-path: '/static/fonts';
// Whether or not to override the local path and retrieve fonts from fonts.net.
@use-font-cdn: true;

// Import any Capital Framework enhancements you might have
@import "cf-enhancements.less";

// Project specific Less goes here or you can break it up into discrete files.
//
// @import "my-module.less"
// @import "my-other-module.less"

body {color:blue}
