/* ==========================================================================
   Teachers Digital Platform
   ========================================================================== */

// This is your project's main Less file.
// Project-specific Less rules go after the imports.

// Import Capital Frmework by reference so that variables and mixins are
// available, but the whole output doesn't duplicate what we're already getting
// from cfgov-refresh.
@import (reference) 'cf-core.less';
@import (reference) 'cf-icons.less';
@import (reference) 'cf-buttons.less';
@import (reference) 'cf-forms.less';
@import (reference) 'cf-grid.less';
@import (reference) 'cf-layout.less';
@import (reference) 'cf-typography.less';
@import (reference) 'cf-notifications.less';
@import (reference) 'cf-pagination.less';
@import (reference) 'cf-expandables.less';
@import (reference) 'cf-tables.less';

// Import any Capital Framework enhancements you might have
@import 'cf-enhancements.less';

// Project specific Less goes here or you can break it up into discrete files.
//
// @import "my-other-module.less"


//
// Hide section on printed pages
//

.u-hide-on-print {
    @media print {
        display: none !important;
    }
}

//
// Add page break before on printed pages
//

.u-page-break-before {
    @media print {
        footer {page-break-before: always;}
    }
}

//
// Disable form elements on print pages
//

.u-disable-form-elements input,
.u-disable-form-elements label {
    pointer-events: none;
}

.u-disable-form-elements .a-label:before,
.u-disable-form-elements .a-label.focus:before,
.u-disable-form-elements .a-label.hover:before {
    background: @gray-10;
    border-color: @gray-60;
}

.u-disable-form-elements .a-radio:checked+.a-label {
    background: transparent;
}

.u-disable-form-elements .a-radio:checked+.a-label:before {
    background: @black;
}

.u-disable-form-elements .a-label_helper__block {
    display: none;
}

.u-disable-form-elements .a-text-input {
    border-color: transparent;
    outline: none;
    padding: 0;
}

.u-disable-form-elements .a-text-input:disabled {
    background-color: @white;
    border: none;
    color: inherit;
    cursor: inherit;
}

@import "organisms/survey.less";
@import "utilities/fc.less";
