/* ==========================================================================
   Teachers Digital Platform
   ========================================================================== */

// This is your project's main Less file.
// Project-specific Less rules go after the imports.

// Import Capital Frmework by reference so that variables and mixins are
// available, but the whole output doesn't duplicate what we're already getting
// from cfgov-refresh.
@import (reference) 'cf-core.less';
@import (reference) 'cf-icons.less';
@import (reference) 'cf-buttons.less';
@import (reference) 'cf-forms.less';
@import (reference) 'cf-grid.less';
@import (reference) 'cf-layout.less';
@import (reference) 'cf-typography.less';
@import (reference) 'cf-notifications.less';
@import (reference) 'cf-pagination.less';
@import (reference) 'cf-expandables.less';
@import (reference) 'cf-tables.less';

// Import any Capital Framework enhancements you might have
@import 'cf-enhancements.less';

// Project specific Less goes here or you can break it up into discrete files.
@import "organisms/survey.less";
@import "utilities/fc.less";

// Hide these sections on printed pages

@media print {
    .o-header, .o-footer, .u-hide-on-print { display: none !important; }
}

// Add page break before on printed pages

.u-page-break-before {
    @media print {
        page-break-before: always;
    }
}

// Alter/disable elements on print pages

.u-alter-elements-on-print .m-notification {
    background: transparent;
    border: none;
    padding: 0;
}

.u-alter-elements-on-print input,
.u-alter-elements-on-print label,
.u-alter-elements-on-print textarea {
    pointer-events: none;
}

.u-alter-elements-on-print .m-form-field__radio .a-label:before,
.u-alter-elements-on-print .m-form-field__radio .a-label.focus:before,
.u-alter-elements-on-print .m-form-field__radio .a-label.hover:before {
    background-color: @gray-10;
    border-color: @gray-60;
}

.u-alter-elements-on-print .m-form-field__radio .a-radio+.a-label,
.u-alter-elements-on-print .m-form-field__radio .a-radio:checked+.a-label {
    background-color: transparent;
}

.u-alter-elements-on-print .m-form-field__radio .a-radio:checked+.a-label:before {
    background-color: @black;
    @media print {
        // Need to add a dot image and absolutely position it
    }

}

.u-alter-elements-on-print .a-label_helper__block {
    display: none;
}

.u-alter-elements-on-print .a-text-input {
    background-color: @white;
    border-color: transparent;
    color: inherit;
    cursor: inherit;
    outline: none;
    padding: 0;
    resize: none;
}